.l-main .about-me .container {
  position: relative;
}

.l-main .about-me .main {
  display: flex;
  gap: 100px;
  opacity: 0;
  transition: all 0.8s ease-out;
  align-items: flex-end;
}
.l-main .about-me .trigger {
  width: 306px;
  height: 458px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.8s ease-out;
}
.l-main .about-me .information {
  flex: 1;
}

.l-main .about-me .avatar {
  width: 600px;
  height: 850px;
}

.l-main .about-me .main .information {
  margin-bottom: 55px;
}
.l-main .about-me .main .information h5 {
  margin-top: 40px;
  margin-bottom: 32px;
}
.l-main .about-me .skill-section {
  display: flex;
  justify-content: space-between;
}
.l-main .tech-skill {
  display: flex;
  flex-wrap: wrap;
  width: 392px;
  gap: 48px;
}
.l-main .tech-skill .box {
  background-image: var(--accent-color);
  border: 1px solid #ffffff1a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  width: 60px;
  height: 60px;
}
.l-main .tech-skill-card {
  display: flex;
  gap: 12px;
  width: 172px;
}

.l-main .card-info {
  width: 100px;
}
.l-main .card-info p {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
}
.l-main .card-info p:last-child {
  font-size: 10px;
  line-height: 1.2;
  color: #ffffff;
  opacity: 0.6;
  font-weight: 400;
}
.l-main .overlay-text {
  font-size: 120px;
  color: var(--overlay-text-color);
  left: 55%;
  z-index: 4;
  /* opacity: 0.5; */
}
.l-main .about-me .mb-skill-section-wrapper {
  display: none;
}
.l-main .about-me .tech-mobile {
  display: none;
}
@media (max-width: 480px) {
  .l-main .about-me .trigger {
    display: none;
  }
  .l-main .about-me .main {
    opacity: 1;
    align-items: flex-start;
    gap: 24px;
    justify-content: center;
  }
  .l-main .about-me .overlay-text {
    font-size: 30px;
  }
  .l-main .about-me .avatar {
    width: 160px;
    height: 215px;
  }
  .l-main .about-me .information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0 !important;
    margin-top: 70px !important;
  }
  .l-main .about-me .information .skill-section {
    display: none;
  }
  .l-main .about-me .information h6 {
    font-size: 10px;
  }
  .l-main .about-me .skill-section-wrapper {
    display: none;
  }
  .l-main .about-me .mb-skill-section-wrapper {
    display: block;
    margin-top: 24px;
  }
  .l-main .about-me .mb-skill-section-wrapper h5 {
    font-size: 14px;
    margin-bottom: 12px;
  }
  .l-main .about-me .tech-mobile {
    display: flex;
    gap: 12px;
    width: auto;
    justify-content: center;
  }
  .l-main .overlay-text {
    font-size: 30px;
    color: var(--overlay-text-color);
    left: 55%;
    z-index: 4;
    top: 12px;
  }
  .l-main .about-me .tech-skill.tech-mobile {
    margin-top: 24px;
  }
  .l-main .card-info p {
    font-size: 16px;
  }
}
