.contact {
  margin-top: 160px;
}
.contact .main {
  display: flex;
  gap: 60px;
}
.contact .main > * {
  flex: 1;
}
.contact .avatar {
  width: 80px;
  height: 80px;
  border-radius: 1000px;
  object-position: top center;
  margin-bottom: 40px;
}
.contact .personal.card {
  padding: 40px;
}

.personal.card > p,
.contact .contact-form > h5 {
  margin-bottom: 24px;
}
.contact .contact-form {
  display: flex;
  flex-direction: column;
}
.contact .contact-form .gradient-button {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-content: center;
  height: 64px;
}
.contact .social-media {
  display: flex;
  gap: 24px;
}
@media (max-width: 480px) {
  .contact .main {
    flex-direction: column;
  }
  .contact p {
    font-size: 16px;
  }
  .contact h5 {
    font-size: 20px;
  }
}
