.image {
  will-change: auto;
  overflow: hidden;
  position: relative;
}
.image .image-center {
  transform: translate(-50%, -50%);
  transform-origin: 50% 50% 0px;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 105%;
  height: 105%;
  transition:
    width 0.3s ease-out,
    height 0.3s ease-out;
}
.image .image-center .image-wrapper {
  position: absolute;
  border-radius: inherit;
  inset: 0px;
}
.image:hover .image-center {
  width: 100%;
  height: 100%;
}
.image .image-overlay {
  background: linear-gradient(180deg, rgba(1, 1, 1, 0) 0%, #010101 100%);
  position: absolute;
  bottom: 0;
  height: 30%;
  width: 100%;
}
